@tailwind base;
@tailwind components;
@tailwind utilities;

.current-move-cross {
    background-color: #3FA7F0 !important;
}

.current-move-circle {
    background-color: #DD7F9F !important;
}

.circlewon{
    background-color: #DD7F9F !important;
}

.crosswon{
    background-color: #3FA7F0 !important;
}